about-time==4.2.1
aiofiles==25.1.0
aiohappyeyeballs==2.6.2
aiohttp==3.13.5
aiosignal==1.4.0
alive-progress==3.3.0
async-timeout==5.0.1
attrs==26.1.0
beautifulsoup4==4.14.3
bikeshed==7.1.1
brotli==1.2.0
cddlparser==0.6.0
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
cssselect==1.4.0
cssselect2==0.9.0
fonttools==4.63.0
frozenlist==1.8.0
graphemeu==0.7.2
html5lib==1.1
idna==3.18
isodate==0.7.2
kdl-py==1.2.0
latex2mathml==3.81.0
lxml==6.1.0
multidict==6.7.1
pillow==12.2.0
propcache==0.5.2
pycparser==3.0
pydyf==0.12.1
Pygments==2.20.0
pypdf==6.12.2
pyphen==0.17.2
python-docx==1.2.0
requests==2.33.1
result==0.17.0
setuptools==82.0.1
six==1.17.0
soupsieve==2.8.4
tenacity==9.1.4
tinycss2==1.5.1
tinyhtml5==2.1.0
typing_extensions==4.15.0
urllib3==2.7.0
weasyprint==69.0
webencodings==0.5.1
widlparser==1.5.0
yarl==1.24.2
zopfli==0.4.2
